body {
  background-color: #24272e;
  color: white;
}

ul {
  padding-left: 0;
  justify-content: center;
}

.logoWarrior {
  height: 30px;
  width: 25vw;
}

.menu {
  display: flex;
  width: 40vw;
}


li {
  min-width: 10px;
  width: 30px;
  margin: 10px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  padding: 5px;
  display: flex;
  background-color: #20202a;
  color: white;
  list-style: none;
  align-items: center;
}

button {
  border: 0px;
  cursor: pointer;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  color: rgb(255, 255, 255);
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(255, 78, 0);
  border-radius: 8px;
  line-height: 1.715;
  box-shadow: rgba(20, 21, 33, 0.42) 0px 4px 8px -4px;
  padding: 0.4375rem 1.375rem;
}
.oneButton {
  border: 0px;
  cursor: pointer;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  color: rgb(255, 255, 255);
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(255, 78, 0);
  border-radius: 8px;
  line-height: 1.715;
  box-shadow: rgba(20, 21, 33, 0.42) 0px 4px 8px -4px;
  padding: 0.4375rem 1.375rem;
}

.prevButtons {
  display: flex;
  width: 250px;
}

.buttons :hover {
  background-color: rgb(255, 17, 0);
  border-radius: 8px;
}

#oneButton:hover {
  background-color: rgb(255, 17, 0);
  border-radius: 8px;
}

.buttons {
  width: 400px;
  display: flex;
}

h1 {
  width: 475px;
  font-size: 60px;
}

.fileButton {
  width: 400px;
  display: flex;
}

.bodyContent {
  display: grid;
  align-items: center;
  min-height: 70vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.bodyText p {
  max-width: 475px;
  font-size: 15px;
  padding-top: 20px;
}

.logIn {
  width: 25vw;
  display: flex;
  margin: auto;
  align-items: center;
}

.logIn img {
  width: 45px;
  border-radius: 25px;
  margin-left: 15px;
}

.preview {
  width: 275px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(20, 21, 33, 0.42) 0px 4px 8px -4px;
}

.prevElement {
  background-color: #20202a ;
  border-radius: 10px;
  padding: 10px;
}

.preview button {
  margin-top: 15px;
}